$light-blue: hsl(203, 100%, 93%);
$mobile-breakpoint: 1024px;
$mobile-offset: 15px;
$mobile-duration: 1s;

$list-coefficient: 0.10;


$bp-small: 425px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1440px;

@mixin breakpoint-min($bp) {
    @media (min-width: $bp) {
        @content;
    }
}

@mixin breakpoint-max($bp) {
    @media (max-width: $bp) {
        @content;
    }
}

@mixin breakpoint-min-max($bp1, $bp2) {
    @media (min-width: $bp1) and (max-width: $bp2) {
        @content;
    }
}

@mixin keyframes($animation-name) {
    @-webkit-keyframes $animation-name {
      @content;
    }
    @-moz-keyframes $animation-name {
      @content;
    }
    @keyframes $animation-name {
      @content;
    }
}

@mixin animation($str) {
    animation-name: #{$str};
}

@include keyframes(fade-in-transition) {
    0% {
        opacity: 0;
        transform: translateY(50vw);
      }
      30%{
        opacity: 0.5;
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
  }
