$light-blue: hsl(203, 100%, 93%);
$telenorWhite: #e8fdff;
$telenorLightBlue: #b4ffff;
$telenorBlue: #00c8ff;
$darkBlue: #000f3c;
$midBlue: #2028cd;
$grey: #eeeef0;

$mobile-breakpoint: 1024px;
$mobile-offset: 15px;
$mobile-duration: 1s;

$list-coefficient: 0.1;

$bp-small: 429px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1440px;
$bp-xxlarge: 1920px;

@mixin breakpoint-min($bp) {
  @media (min-width: $bp) {
    @content;
  }
}

@mixin breakpoint-max($bp) {
  @media (max-width: $bp) {
    @content;
  }
}

@mixin breakpoint-up($bp) {
  @media (min-width: $bp + 1) {
    @content;
  }
}

@mixin breakpoint-down($bp) {
  @media (max-width: $bp - 1) {
    @content;
  }
}

@mixin breakpoint-min-max($bp1, $bp2) {
  @media (min-width: $bp1) and (max-width: $bp2) {
    @content;
  }
}

@mixin product-item-campaign-anime() {
  @include breakpoint-down($bp-medium) {
    // &[data-aos='product-item-campaign-anime'] {
    //   transform: translate3d(100px, 0, 0);
    //   opacity: 0;
    //   transition-property: transform, opacity;
    //   &.aos-animate {
    //     // transform: translate3d(0, 0, 0) !important;
    //     opacity: 1;
    //   }
    // }
  }

  @include breakpoint-up($bp-medium) {
    &[data-aos='product-item-campaign-anime'] {
      transform: translate3d(0, 100px, 0);
      opacity: 0;
      transition-property: transform, opacity;
      &.aos-animate {
        transform: none;
        opacity: 1;
      }
    }
  }
}

@mixin side-by-side-media-anime() {
  &[data-aos='side-by-side-media-anime'] {
    transform: translate(-50%, -50%);
    opacity: 0;
    transition-property: transform, opacity;

    @include breakpoint-max($bp-medium) {
      transform: translate(-50%, 50%);
    }

    &.aos-animate {
      transform: translate(-15%, -50%);
      opacity: 1;

      @include breakpoint-max($bp-medium) {
        transform: translate(-50%, -40%);
      }

      @media (min-width: 769px) {
        transform: translate(-30%, -50%);
      }

      @media (min-width: 1024px) {
        transform: translate(-30%, -50%);
      }

      @media (min-width: 1280px) {
        transform: translate(-10%, -50%);
      }

      @media (min-width: 1440px) {
        transform: translate(-5%, -50%);
      }

      @media (min-width: 1600px) {
        transform: translate(5%, -50%);
      }

      @media (min-width: 1690px) {
        transform: translate(15%, -50%);
      }

      @media (min-width: 1900px) {
        transform: translate(25%, -50%);
      }
    }
  }
}

@mixin animation(
  $name,
  $duration: 1s,
  $timing-function: linear,
  $delay: 0s,
  $iteration-count: 1,
  $direction: normal,
  $fill-mode: forwards
) {
  -webkit-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
  -moz-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
  animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
}

// mixins
@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
    @content;
  }
  @-moz-keyframes #{$name} {
    @content;
  }
  @keyframes #{$name} {
    @content;
  }
}

// Animations
@include keyframes(fade-in-transition) {
  0% {
    opacity: 0;
    transform: translateY(50vw);
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframes(fade-in-toleft-transition) {
  0% {
    opacity: 0;
    transform: translateX(50vw);
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}

@include keyframes(fade-in-tobottom-transition) {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  30% {
    opacity: 0.5;
  }
  70% {
    opacity: 0.5;
    transform: translateY(-2px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframes(fade-in-totop-transition) {
  0% {
    opacity: 0;
    transform: translateY(10vw);
  }
  30% {
    opacity: 0.5;
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@include keyframes(slide-in-scale-transition) {
  0% {
    opacity: 0;
    transform: translateX(-50vw) scale(0.5);
  }
  30% {
    opacity: 0.5;
    transform: translateX(0) scale(0.5);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}

@include keyframes(circle-fill-transition) {
  0% {
    stroke-dasharray: 0 100;
  }
}

@include keyframes(scale-in-transition) {
  0% {
    opacity: 0;
    transform: scale(3);
  }
  30% {
    opacity: 0.5;
    transform: scale(1);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
