$light-blue: hsl(203, 100%, 93%);
$telenorWhite: #E8FDFF;
$telenorLightBlue: #B4FFFF;
$telenorBlue: #00C8FF;
$darkBlue: #000F3C;
$midBlue: #2028CD;
$grey: #EEEEF0;

$mobile-breakpoint: 1024px;
$mobile-offset: 15px;
$mobile-duration: 1s;

$list-coefficient: 0.10;


$bp-small: 425px;
$bp-medium: 768px;
$bp-large: 1024px;
$bp-xlarge: 1440px;

@mixin breakpoint-min($bp) {
    @media (min-width: $bp) {
        @content;
    }
}

@mixin breakpoint-max($bp) {
    @media (max-width: $bp) {
        @content;
    }
}

@mixin breakpoint-min-max($bp1, $bp2) {
    @media (min-width: $bp1) and (max-width: $bp2) {
        @content;
    }
}

@mixin animation($name,
                 $duration: 1s,
                 $timing-function:ease,
                 $delay:0s,
                 $iteration-count: 1,
                 $direction: normal,
                 $fill-mode: forwards,) {
  -webkit-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
  -moz-animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
  animation: $name $duration $timing-function $delay $iteration-count $direction $fill-mode;
}

@mixin keyframes($name) {
  @-webkit-keyframes #{$name} {
      @content;
  }
  @-moz-keyframes #{$name} {
      @content;
  }
  @keyframes #{$name} {
      @content;
  }
}

@include keyframes(fade-in-transition) {
    0% {
        opacity: 0;
        transform: translateY(50vw);
      }
      30%{
        opacity: 0.5;
      }
      100% {
        opacity: 1;
        transform: translateY(0);
      }
}

@include keyframes(fade-in-toleft-transition) {
  0% {
      opacity: 0;
      transform: translateX(50vw);
    }
    30%{
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateX(0);
    }
}

@include keyframes(fade-in-tobottom-transition) {
  0% {
      opacity: 0;
      transform: translateY(-10vw);
    }
    30%{
      opacity: 0.5;
    }
    100% {
      opacity: 1;
      transform: translateY(0);
    }
}

@include keyframes(slide-in-scale-transition) {
  0% {
      opacity: 0;
      transform: translateX(-50vw) scale(0.5);
    }
  30%{
    opacity: 0.5;
    transform: translateX(0) scale(0.5);
  }
  100% {
    opacity: 1;
    transform:  scale(1);
  }
}
