.accordion--items {
    display: flex;
    flex-direction: column;

    .accordion--item {

        &:not(:last-of-type) {
            margin-bottom: 16px;
        }

        &.expand {

            .accordion--summary {
              border-bottom-left-radius: 0;
              border-bottom-right-radius: 0;
            }
            .accordion--details {
                background-color: #F5F5F5;
                color: $darkBlue;
                text-align: left;
            }

            svg.expand-icon {
                transform: rotate(45deg);
                font-size: 1.8em;
             }
        }
    }

    .accordion--summary {
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 17px;
        background-color: #F5F5F5;
        color: $darkBlue;
        cursor: pointer;
        border-radius: 3px;

        svg.expand-icon {
            transition: transform 250ms ease-in-out;
        }

        h4 {
          text-align: left;
        }


        @include breakpoint-min($bp-medium) {
          padding: 24px;
        }

    }

    .accordion--details {
        max-height: 0px;
        color: transparent;
        overflow: hidden;
        transition: max-height 250ms ease-in-out, background-color 250ms ease-in-out;
        text-align: left;
    }

    .accordion--details-inner {
        padding-left: 17px;
        padding-right: 17px;
        padding-bottom: 17px;

        @include breakpoint-min($bp-medium) {
          padding-left: 24px;
          padding-right: 24px;
          padding-bottom: 24px;
        }
    }
}
