.articls-all {

    display: grid;
    grid-template-columns: repeat(2, 1fr);
    grid-gap: 20px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 160px;

    @include breakpoint-max($bp-large) {
        padding: 24px 50px;
    }

    @include breakpoint-max($bp-medium) {
        padding: 24px 16px;
    }

    @include breakpoint-max($bp-large) {
        grid-template-columns: 1fr;
    }

}

.article__root {

    &:hover {
        @media (hover: hover) {
            .article__content .article__content-inner .btn {
                background: transparent;

                .btn__icon svg.dark-arrow {
                    opacity: 0;
                    transform: translateX(100px);
                }

                .btn__icon svg.light-arrow {
                    opacity: 1;
                    transform: translateX(0px);
                }
            }

            .article__media-holder .article__media {
                transform: scale(1.2);
                &.foreground-image {
                    transform: translate(-50%, -42%) scale(.95) !important;
                }
            }
            // .article__media-holder .article__media:not(.has-foregroundImage) {
            //     transform: scale(1.2);
            // }
            // .article__media-holder .article__media {
            //     transform: translate(-50%, -42%) scale(.95) !important;
            // }
        }
    }

    // & + & {
    //     @include breakpoint-min($bp-large) {
    //         margin-left: 20px;
    //     }

    //     @include breakpoint-max($bp-large) {
    //         margin-top: 32px;
    //     }
    // }

    .article__main {

    }

    .article__header {
        display: flex;
        align-items: center;

        .article__icon {
            margin-right: 8px;

            fill: $telenorLightBlue;
            path {
                fill: $telenorLightBlue;
            }
        }
    }

    .article__heading {}
    .article__text {
        flex: 1
    }

    .article__content {
        background-color: $midBlue;
        color: $telenorLightBlue;
        padding: 24px;
        position: relative;
        z-index: 1;
        min-height: 308px;
        display: flex;

        .article__content-inner {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            // flex: 1 0 300px;

            @include breakpoint-min($bp-medium) {
                transform: none !important;
                opacity: 1 !important;
            }

            .btn {
                border: none;
                border-radius: 48px;
                display: inline-flex;
                flex-direction: row;
                justify-content: center;
                align-items: center;
                background: $telenorLightBlue;
                padding: 15px 6px;
                color: $midBlue;
                margin-top: auto;
                cursor: pointer;

                @include breakpoint-max($bp-small) {}

                .btn__icon {
                    display: flex;
                }
                // @include breakpoint-min($bp-medium) {
                //     svg path {
                //         fill: $midBlue
                //     }
                // }

                .btn__label {
                    font-size: 14px;
                    line-height: 24px;

                    @include breakpoint-min($bp-medium) {
                        display: none;
                        visibility: hidden;
                    }
                }

                svg.dark-arrow {
                    opacity: 1;
                    transform: translateX(8px);
                    transition: all 0.2s ease-out;

                    path {
                        fill: $midBlue;
                    }
                }

                svg.light-arrow {
                    opacity: 0;
                    transform: translateX(-50px);
                    transition: all 0.2s ease-out;

                    path {
                        fill: $telenorLightBlue;
                    }
                }
            }
        }
    }

    .article__media-holder {
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;
        height: 371px;
        position: relative;


        .article__media {
            max-width: 100%;
            transition: all 0.2s ease-out;

            &.foreground-image {
                position: absolute;
                height: auto;
                width: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -42%) scale(0.8);
                z-index: 11;

                @include breakpoint-max($bp-medium) {
                    height: 300px;
                }
            }

        }
    }
}
