.banner--root {
    background-color: #F6F4EE;
    overflow: hidden;
    margin-top: 48px;
    margin-bottom: 48px;

    @include breakpoint-min($bp-medium) {
      margin-top: 35px;
      margin-bottom: 35px;
    }

    @include breakpoint-max($bp-small) {
      margin-left: 16px;
      margin-right: 16px;
    }

    &.dark {
      background: $darkBlue;

      .banner--content {
        color: #B4FFFF
      }
    }

    &.light {
      background: $telenorWhite;

      .banner--content {
        color: $darkBlue;
      }
    }

    .banner__container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 32px;
      padding-right: 32px;

      @media (max-width: 750px) {
        padding-left: 0;
        padding-right: 10px;
      }

    }

    .banner--main {
        display: flex;
        position: relative;

        @media (max-width: 750px) {
          align-items: center;
        }
    }

    .banner--loader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      @include breakpoint-min($bp-medium) {
        left: 10%;
      }

      @media (max-width: 750px) {
        align-self: stretch;
        img {
          max-width: 100px;
          object-fit: cover;
        }
      }

    }

    .banner--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 17px;
        padding-bottom: 17px;
        text-align: center;
        flex: 1;
        color: $darkBlue;


        @include breakpoint-min($bp-small) {
          padding-top: 32px;
          padding-bottom: 32px;

          .banner--content-inner {
            margin-bottom: 24px;
          }

        }

        @include breakpoint-max($bp-small) {
          flex-direction: row;

          .banner--content-inner {
            flex: 1;
            margin-left: auto;
            max-width: 210px;
          }

          .heading {
            font-size: 16px;
            line-height: 22px;
            font-weight: 800;
          }
          .text {
            font-size: 14px;
            line-height: 22px;
          }
        }

    }

    .btn {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: $midBlue;
        color: white;
        border: none;
        border-radius: 48px;
        padding: 8px 28px;

        &:hover {
          cursor: pointer;
        }

        .btn__icon {
          padding-left: 5px;
          padding-top: 5px;
      }

        @include breakpoint-max($bp-small) {
          background: transparent;
          min-width: 0;
          padding: 10px;

          .btn__label {
            display: none;
          }

          .btn__icon svg path {
            fill: $midBlue
          }
        }

      }
}
