.banner--root {
    background-color: #F6F4EE;
    overflow: hidden;
    // padding-top: 30px;
    // padding-bottom: 30px;
    position: relative;

    @include breakpoint-min($bp-medium) {
      margin-top: 35px;
      margin-bottom: 35px;
    }

    &.dark {
      background: $darkBlue;

      .banner--content {
        color: #B4FFFF
      }
    }

    &.light {
      background: $telenorWhite;

      .heading, p.text {
        color: $darkBlue;
      }
    }

    .banner__container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 32px;
      padding-right: 32px;

      @media (max-width: 750px) {
        padding-left: 0;
        padding-right: 10px;
      }

    }

    .banner--main {
        display: flex;
        position: relative;

        @media (max-width: 750px) {
          align-items: center;
        }
    }

    .banner--loader {
      position: absolute;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;

      @media (max-width: 750px) {
        align-self: stretch;
        img {
          max-width: 100px;
          object-fit: cover;
        }
      }

    }

    .banner--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding: 24px 16px;
        text-align: center;
        flex: 1;
        color: $darkBlue;


        @include breakpoint-min($bp-small) {
          padding-top: 32px;
          padding-bottom: 32px;

          .banner--content-inner {
            margin-bottom: 24px;
          }

        }

        @include breakpoint-max($bp-small) {

          .banner--content-inner {
            flex: 1;
          }
        }

    }

    .btn {
        border: none;
        border-radius: 48px;
        padding: 8px 28px;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: $midBlue;
        color: $midBlue;
        border: none;
        border-radius: 48px;
        padding: 8px 24px;
        color: white;

        &:hover {
          cursor: pointer;
        }

        &.btn--blue {
          svg path {
            fill: $telenorBlue
          }
        }

        &.btn--light-blue {
          background: $telenorLightBlue;
          color: $midBlue;
          svg path {
            fill: $midBlue
          }
        }

        .btn__label {
          font-size: 14px;
          line-height: 24px;
        }

        .btn__icon {
          display: flex;
         }

      }
}
