.banner--root {
    background-color: #F6F4EE;

    margin-top: 48px;
    margin-bottom: 48px;

    @include breakpoint-min($bp-medium) {
      margin-top: 85px;
      margin-bottom: 85px;
    }

    @include breakpoint-max($bp-small) {
      margin-left: 16px;
      margin-right: 16px;
    }

    &.dark {
      background: $darkBlue;

      .banner--content {
        color: #B4FFFF
      }
    }

    &.light {
      background: $telenorWhite;

      .banner--content {
        color: $darkBlue;
      }
    }

    .banner__container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 32px;
      padding-right: 32px;

      @media (max-width: 750px) {
        padding-left: 0;
        padding-right: 10px;
      }

    }

    .banner--main {
        display: flex;
        @media (max-width: 750px) {
          align-items: center;
        }
    }

    .banner--loader {
      @media (max-width: 750px) {
        align-self: stretch;
        img {
          max-width: 100px;
          height: 130px;
          object-fit: cover;
        }
      }

    }

    .banner--content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        padding-top: 17px;
        padding-bottom: 17px;
        text-align: center;

        @media (min-width: 750px) {
          flex: 0 0 70%;
          padding-top: 32px;
          padding-bottom: 32px;
        }

        @media (max-width: 750px) {
          .heading {
            font-size: 16px;
            line-height: 22px;
            font-weight: 800;
          }
          .text {
            font-size: 14px;
            line-height: 22px;
          }
        }
    }

    .button {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: Telenor Evolution;
        background: #2028CD;
        border-radius: 48px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        padding: 10px 20px 8px;
        color: #fff;
        margin-top: 16px;
        border-color: #2028CD;

        @media (max-width: 750px) {
          display: none;
        }

        @media (min-width: 750px) {
          padding: 10px 42px 8px;
        }

        &.button__small {
          line-height: 24px;
          font-size: 14px;

          span {
            line-height: 24px;
            font-size: 14px;
          }
        }

      }

      .button__icon {
        padding-left: 5px;
        padding-top: 5px;
      }
}
