.benefit-list__root {
  padding-top: 48px;
  padding-bottom: 48px;

  @include breakpoint-min($bp-medium) {
    padding-top: 85px;
    padding-bottom: 85px;
  }

  .benefit-list__container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 32px;
      padding-right: 32px;

      .benefit-list__heading {
          color: #000F3C;
          text-align: center;
      }

      .benefit-list__main {
        display: flex;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
        margin-left: 0px;

        @for $i from 1 through 4 {
          .benefit-list__item.observed:nth-child(#{$i}n) {
            @include animation('fade-in-transition', $delay: #{$i * $list-coefficient}s);
          }
        }


        @include breakpoint-min($bp-small) {
          margin-left: 10px;
          grid-auto-columns: 24%; /* Each slide covers 80% of the viewport */
        }

      }
      .benefit-list__item {
        flex-shrink: 0;
        width: calc(100% / 1.1);
        margin-left: 10px;
        text-align: center;
        padding: 10px 0;
        opacity: 0;

        @include breakpoint-min($bp-medium) {
          width: calc(100% / 4);
        }

        @include breakpoint-max($bp-small) {
          &:nth-child(n+3) {
            transform: translateX(0) !important;
            opacity: 1 !important;
          }
        }

         &:not(.observed) {
            opacity: 1;
         }

        svg {
          rect {
            fill: #EEF9FF
          }

          circle {
            fill: #000F3C
          }
        }

        @media (max-width: $mobile-breakpoint) {
          background-color: #EEF9FF;
          padding: 24px;

          svg {
            rect {
              fill: #fff;
            }

            circle {
              fill: #0C1026;
            }
          }
        }

        h4, p {
          color: #000F3C;
        }

        .button {
          display: inline-flex;
          background: #2028CD;
          border-radius: 48px;
          margin-top: 16px;
          border-color: #2028CD;
          min-width: 40px;
          height: 40px;
          padding: 8px 8px 8px 10px;

          @media (min-width: 750px) {
              svg path {
                fill: #fff;
              }
          }
        }
      }
  }
}
