.benefit-list__root {
  padding-top: 48px;
  padding-bottom: 48px;

  @media (min-width: 750px) {
    padding-top: 102px;
    padding-bottom: 80px;
  }

  .benefit-list__container {
      width: 100%;
      margin-left: auto;
      margin-right: auto;
      padding-left: 32px;
      padding-right: 32px;

      .benefit-list__heading {
          color: #000F3C;
          text-align: center;
      }

      .benefit-list__main {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 70%; /* Each slide covers 80% of the viewport */
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
        margin-left: 5px;


        @media (min-width: 750px) {
          margin-left: 10px;
          grid-auto-columns: 24%; /* Each slide covers 80% of the viewport */
        }

      }
      .benefit-list__item {
        text-align: center;

        svg {
          rect {
            fill: #EEF9FF
          }

          circle {
            fill: #000F3C
          }
        }

        @media (max-width: $mobile-breakpoint) {
          background-color: #EEF9FF;
          padding: 24px;

          svg {
            rect {
              fill: #fff;
            }

            circle {
              fill: #0C1026;
            }
          }
        }

        h4, p {
          color: #000F3C;
        }

        .button {
          display: inline-flex;
          background: #2028CD;
          border-radius: 48px;
          margin-top: 16px;
          border-color: #2028CD;
          min-width: 40px;
          height: 40px;
          padding: 8px 8px 8px 10px;

          @media (min-width: 750px) {
              svg path {
                fill: #fff;
              }
          }
        }
      }
  }
}
