/* styling */
.benefit-list {
  @media (max-width: $mobile-breakpoint - 1px) {
    padding: 0 16px;
    .grid-row {
      margin-left: 0;
      margin-right: 0;
    }
  }
  .icon-netsikker {
    transform: translate(0, -8px);
    display: inline-block;
  }
  h2 {
    font-family: "Telenor Evolution";
    font-style: italic;
    font-weight: 800;
    font-size: 32px;
    line-height: 24px;
    margin: 16px 0;
  }
  p {
    margin: 16px 0;
    font-family: "Telenor Evolution";
    font-style: normal;
    font-weight: bold;
    font-size: 18px;
    line-height: 24px;
  }
  .grid-row--middle
    > .col-md-auto.grid-row--gutter-none.grid-row--middle.grid-row--center.margin-trailer.desktop-margin-trailer--none {
    font-family: "Telenor Evolution";
    font-style: normal;
    font-weight: normal;
    font-size: 16px;
    line-height: 24px;
    margin: 8px 0;
  }
  .icon--small {
    display: flex;
    justify-content: center;
  }

  @media (max-width: $mobile-breakpoint - 1px) {
    .grid-row--middle,
    .grid-row-xs--middle {
      align-items: flex-start;
    }
    .grid-row--middle
      > .col-md-auto.grid-row--gutter-none.grid-row--middle.grid-row--center.margin-trailer.desktop-margin-trailer--none {
      margin: 0 16px 0 32px;
    }
    .icon--small {
      position: absolute;
      top: 4px;
      left: -24px;
    }
  }
}

/* Animation */
$benefit-delay-offset: 0.2;
$benefit-coefficient: 0.25;
$benefit-duration: 1.5s;

.benefit-list__list {
  .benefit-item.observed > .icon--small > img {
    opacity: 0;
    animation-duration: $benefit-duration;
    animation-fill-mode: forwards;
    animation-name: check-mark-animation;
    animation-timing-function: ease-in-out;
  }
}
.benefit-list__list {
  @for $i from 1 through 10 {
    .benefit-item.observed:nth-child(#{$i}n) {
      & > .icon--small > img {
        animation-delay: #{$benefit-delay-offset + $i * $benefit-coefficient}s;
      }
    }
  }
}

@keyframes check-mark-animation {
  0% {
    opacity: 0;
    transform: scale(2.8);
  }
  100% {
    opacity: 1;
    transform: scale(1);
  }
}
