.editorial__root {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    .editorial__container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;

        @include breakpoint-min($bp-medium) {
            overflow: hidden;
        }

        @include breakpoint-min($bp-medium) {
            margin-bottom: 32px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .editorial__main {
        display: flex;

        @include breakpoint-max($bp-large) {
            flex-direction: column-reverse;
        }

        &.dir--row-reverse {
            .editorial__content {
                margin-right: 0;

                @include breakpoint-min($bp-large) {
                    padding-left: 64px;
                }

                .btn {
                    margin-bottom: 32px;
                }
            }

            @include breakpoint-max($bp-medium) {
                flex-direction: column;

                .editorial__media {
                    margin-bottom: 0;
                 }
            }

        }
    }

    .editorial__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        color: $darkBlue;

        .btn {
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: $midBlue;
            color: white;
            border: none;
            border-radius: 48px;
            padding: 12px 28px;

            &:hover {
                cursor: pointer;
            }
        }

        .btn__label {
            margin-right: 10px;
        }

        @include breakpoint-min($bp-large) {
            padding-right: 34px;
        }

    }

    .editorial__media {
        display: flex;
        justify-content: center;

        @include breakpoint-max($bp-large) {
            margin-bottom: 32px;
            overflow: hidden;
        }

        .editorial__image {
            max-width: 100%;
            display: block;
            object-fit: cover;

            @include breakpoint-max($bp-large) {
                width: 100%;
            }

            @include breakpoint-max($bp-medium) {
                max-height: 300px;
                width: 100%;
            }
        }
    }
}
