.side-by-side__root {
    padding-top: 30px;
    padding-bottom: 30px;
    position: relative;

    &.light {
        .side-by-side__header {
            .side-by-side__icon {
                fill: $midBlue;
                path {
                    fill: $midBlue;
                }
            }
        }
        .side-by-side__content {
            background-color: $telenorLightBlue;
            color: $midBlue;

            .btn {
                background: $midBlue;
                color: $telenorLightBlue;
                border-color: $telenorLightBlue;
                font-size: 14px;
                line-height: 24px;
            }

            .btn__icon {
                path {
                    fill: $telenorBlue;
                }
            }
        }
    }

    &.dark {
        .side-by-side__header {
            .side-by-side__icon {
                fill: $telenorLightBlue;
                path {
                    fill: $telenorLightBlue;
                }
            }
        }
        .side-by-side__content {
            background-color: $darkBlue;
            color: $telenorLightBlue;

            .btn {
                background: $telenorLightBlue;
                color: $midBlue;
                border-color: $telenorLightBlue;
                font-size: 14px;
                line-height: 24px;

                &.btn--default {
                    background-color: transparent;
                    color: $telenorLightBlue;

                    .btn__icon path {
                        fill: $telenorBlue;
                    }
                }

                label {
                    font-size: 14px;
                    line-height: 24px;
                }
            }

            .btn__icon {
                path {
                    fill: $midBlue;
                }
            }
        }
    }

    .side-by-side__container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        @include breakpoint-min($bp-medium) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .side-by-side__main {
        display: flex;
        overflow: hidden;

        &.dir--row-reverse {
            @include breakpoint-max($bp-medium) {
                flex-direction: column-reverse;
            }
        }

        @include breakpoint-max($bp-medium) {
            flex-direction: column;
        }

        @include breakpoint-min($bp-large) {
            height: 500px;
        }
    }

    .side-by-side__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $midBlue;
        color: $telenorLightBlue;

        padding: 32px 24px;

        @include breakpoint-min($bp-medium) {
            padding: 50px 30px;
        }

        @include breakpoint-min($bp-large) {
            padding: 100px;
        }

        @include breakpoint-min($bp-xlarge) {
            padding: 48px 100px;
        }

        .side-by-side__inner-content {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;
        }

        .side-by-side__heading {
            font-size: 28px;
            line-height: 36px;

            @include breakpoint-min($bp-medium) {
                font-size: 32px;
                line-height: 40px;
            }
        }

        .btn {
            display: inline-flex;
            flex-direction: row;
            justify-content: center;
            align-items: center;
            background: $telenorLightBlue;
            color: $midBlue;
            border: none;
            border-radius: 48px;
            padding: 8px 24px;

            &:hover {
                cursor: pointer;
            }
        }

        .btn__label {
            font-size: 14px;
            line-height: 24px;
        }

        .btn__icon {
            padding-left: 5px;
            padding-top: 5px;

            path {
                fill: $midBlue;
            }
        }
    }

    .side-by-side__header {
        display: flex;
        align-items: center;

        :not(:last-child) {
            margin-right: 10px;
        }

        .side-by-sider-header-group {
            display: flex;
            align-items: center;
            justify-content: center;
            align-items: center;
        }

        .side-by-side__icon {
            margin-right: 4px;

            fill: $telenorLightBlue;
            path {
                fill: $telenorLightBlue;
            }
        }
    }

    .side-by-side__media {
        min-height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;

        @include breakpoint-max($bp-medium) {
            min-height: 300px;
        }

        .side-by-side__image {
            max-width: 100%;
            transition: transform 250ms cubic-bezier(0, 0.5, 0.5, 1);

            &.foreground-image {
                height: auto;
                width: auto;
                top: 50%;
                left: 50%;
                transform: translate(-50%, -50%);

                @include breakpoint-max($bp-medium) {
                    height: 300px;
                }
            }
        }


    }
}
