.embla {
    position: relative;
     padding: 20px;
  }

.embla__viewport {
    overflow: hidden;
    width: 100%;
}

.embla__viewport.is-draggable {
    cursor: move;
    cursor: grab;
}

.embla__viewport.is-dragging {
    cursor: grabbing;
}

.embla__slide {
  position: relative;
  min-width: 50%;
  // padding-left: 10px;
}
