.hardware__root {
  padding-bottom: 48px;
  position: relative;

  @include breakpoint-min($bp-medium) {
    padding-top: 65px;
    padding-bottom: 65px;
  }

  .hardware__container {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    // padding-left: 16px;
    // padding-right: 16px;
    position: relative;

    @include breakpoint-min($bp-medium) {
      padding-left: 48px;
      padding-right: 48px;
    }
  }

  .hardware__main {
    display: flex;
    flex-wrap: wrap;

    @include breakpoint-down($bp-large) {
      flex-direction: column;
    }

    .hardware__media,
    .hardware__content {
      max-width: 50%;
      width: 50%;

      @include breakpoint-down($bp-large) {
        max-width: 100%;
        width: 100%;
      }
    }

    .hardware__media_container {
      padding: 24px;
      @include breakpoint-max($bp-medium) {
        padding: 34px 16px;
      }
    }

    .hardware__content {
      color: $darkBlue;

      @for $i from 1 through 4 {
        .selectors.observed .hardware__list-selector:nth-child(#{$i}) {
            @include animation(fade-in-tobottom-transition, $duration: 0.4s, $delay: #{$i * 0.2}s);
            z-index: #{-$i};
        }
    }

    .hardware__list-selector {
        position: relative;
        background: white;
        opacity: 0;

        //     &:not(.observed) {
        //         opacity: 1;
        //     }
    }

      @include breakpoint-min($bp-large) {
        padding-left: 16px;
        padding-right: 16px;
      }

      span {
        color: $darkBlue;
      }

      .hardware__list-selectors {
        overflow: hidden;
      }

      .list-selectors__label {
        // height: 80px !important;

        &.label-border--without {
          border-color: none;
          border-color: #daf2ff;
          &:hover {
            border-color: $midBlue;
          }
        }

        &.chevron-animation:hover .chevron-product {
          transition: 0.5s;
          transform: translateX(5px);
        }

        .chevron-product {
          transition: 0.5s;
          svg path {
            fill: $darkBlue;
          }
        }
      }

      .hardware__list-selector {
        background-color: white;
        // @include hardware-selector-item-anime();

        button {
          padding: 8px 12px;
        }
      }

      .hardware__add-to-card-container {
        .buttons-holder {
          position: relative;
          background: $midBlue;
          border-radius: 48px;
        }

        .btn-seperator {
          position: relative;
          display: flex;
          justify-content: center;
          align-items: center;
          height: 40px;

          .btn-seperator-line {
            position: absolute;
            margin-left: auto;
            margin-right: auto;
            top: 5px;
            left: 0;
            right: 0;
            text-align: center;
            background: white;
            width: 1px;
            height: 100%;
            z-index: 1;
          }
        }

        .btn {
          display: inline-flex;
          flex-direction: row;
          justify-content: center;
          align-items: center;
          background: $midBlue;
          border: none;
          // border-radius: 48px;
          padding: 12px 28px;
          cursor: pointer;

          .btn__label {
            color: white;
          }

          @media (max-width: 375px) {
            padding: 12px 18px;
          }
        }
      }

      .selectors {
        padding: 48px 16px 64px;
      }

      @include breakpoint-min($bp-large) {
        .selectors {
          padding: 48px 26px 64px;
        }
      }

      @include breakpoint-min($bp-xlarge) {
        .selectors {
          padding: 48px 106px 64px;
        }
      }
    }

    .hardware__media {
      .hardware__media-carousel {
      }

      .hardware-footer-banner {
        background-color: $grey;
        width: 100%;
        position: relative;
        background: url(/images/hardware-banner.png) no-repeat;
        background-size: cover;

        .hardware-footer-banner-title {
          font-weight: 400;
          color: white;
        }

        > * > * > * {
          color: white;
        }
      }

      .hardware-footer-banner-icon {
        display: flex;
        justify-content: center;
        align-items: center;

        svg {
          width: 24px;
          fill: white;
          path {
            fill: white;
          }
        }
      }

      .hardware-footer-banner-text {
        @include breakpoint-max($bp-medium) {
          max-width: 120px;
        }
      }

      .product__badge-container {
        position: relative;
        display: flex;
        justify-content: space-between;
        align-items: center;
        min-height: 55px;
      }

      .product__discount-badge-holder {
        background: #fefd29;
        position: relative;
        left: -24px;
        z-index: 100;
        display: inline-block;
        padding: 4px 8px;
        span {
          color: #031039;
        }
        @include breakpoint-max($bp-medium) {
          left: -16px;
        }
      }

      .product__5g-badge-holder {
        display: block;
        z-index: 1;
      }

      .product__5g-badge {
        background-color: $telenorBlue;
        display: inline-block;
        padding: 2px 10px;
        white-space: nowrap;
      }

      .embla__dots {
        padding-top: 16px;
        margin-bottom: 32px;
      }
      .hardware__media-viewport {
        overflow: hidden;
        width: 100%;
      }

      .hardware__media-container {
        display: flex;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
        margin-left: 0px;

        @for $i from 1 through 4 {
          .hardware__media__item.observed:nth-child(#{$i}n) {
            @include animation(
              slide-in-scale-transition,
              $duration: 1.2s,
              $delay: #{$i * $list-coefficient}s
            );

            @include breakpoint-max($bp-medium) {
              animation-duration: 1.2s;
            }
          }
        }
      }

      .hardware__media__item {
        flex-shrink: 0;
        width: calc(100% / 1);

        opacity: 0;

        &:not(.observed) {
          opacity: 1;
        }

        &:not(:last-of-type) {
          margin-right: 12px;
        }

        .hardware__media__image {
          @include breakpoint-max($bp-medium) {
            width: calc(100% / 1.2);
          }
        }
      }
    }
  }
}
