.help__root {
    .help--category-container {
        display: flex;
        flex-wrap: wrap;
        > [class*="col"] {
            padding-left: 12px;
            padding-right: 12px;
        }
    }
    .help--category-item {
        box-shadow: 0 0 15px rgba(0, 0, 0, 0.15);
    }

    .popular__category-container {
       display: flex;
       flex-flow: row wrap;

    }

    .popular__category-item {
        display: flex;
        justify-content: center;
        align-items: center;
        flex-direction: column;
        width: calc(100% / 6);

        @include breakpoint-max($bp-medium){
            width: calc(100% / 3);
        }
    }

    .popular__category {
        text-align: center;
    }

    .popular__category-circle {
        display: inline-flex;
        justify-content: center;
        align-items: center;
        background-color: white;
        border-radius: 50px;
        height: 90px;
        width: 90px;
    }

    .package__feature-name {
        margin-top: 12px;
        text-align: center;
        height: 20px;
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $darkBlue;
        color: #fff;
        border-radius: 48px;
        min-width: 40px;
        padding: 12px 24px;
        border: none;
        overflow: hidden;
        cursor: pointer;
        svg  {
            margin-left: 10px;
            path {
                fill: $telenorBlue;
            }
        }
    }
}

.help-hero__root {
    position: relative;

    .help-hero__container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        position: relative;

        @include breakpoint-max($bp-medium){
            &.padding--none {
                padding-left: 0;
                padding-right: 0;
            }
        }
    }

    .help-hero__main {
        display: flex;
        overflow: hidden;

        &.dir--row-reverse {
            @include breakpoint-max($bp-medium) {
                flex-direction: column-reverse;
            }
        }

        @include breakpoint-max($bp-medium) {
            flex-direction: column;
        }

        @include breakpoint-min($bp-large) {
            height: 500px;
        }
    }

    .help-hero__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
        background-repeat: no-repeat;
        background-size: cover;
        background-color: $darkBlue;
        color: $telenorLightBlue;

        padding: 48px;

        @include breakpoint-min($bp-medium) {
            padding: 50px 30px;
        }

        @include breakpoint-min($bp-xlarge) {
            padding: 100px;
        }

        @include breakpoint-min($bp-xlarge) {
            padding: 48px 100px;
        }

        .help-hero__inner-content {
            flex-direction: column;
            justify-content: center;
            align-items: flex-start;
            overflow: hidden;
        }

        .help-hero__heading {}

        .form__field {
            div {
                // transform: translateY(30vw);
                transform: translate3d(0, 250px,0);
            }
            &.observed {
                div {
                    animation: input-bounce 1s 0.5s  1 ease-out forwards
                }
            }
        }

        .input-magnifier-icon {
            position: absolute;
            top: 50%;
            right: 18px;
            transform: translateY(-50%);
        }

        .search-rounded-input {
            border-radius: 50px;
            padding-right: calc(1em + 10px + 18px); /* icon width + icon padding-left + desired separation*/
            &::placeholder {
                color: #a2a2a2;
            }
        }

    }

    .help-hero__media {
        min-height: 450px;
        background-repeat: no-repeat;
        background-size: cover;
        background-position: top;

        @include breakpoint-max($bp-medium) {
            min-height: 300px;
        }

        .help-hero__image {
            max-width: 100%;
            transition: transform 250ms cubic-bezier(0, 0.5, 0.5, 1);
        }
    }

    .down-arrow {
        position: absolute;
        left: 0;
        bottom: -18px;
        z-index: 7;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;

        & > div {
          height: 40px;
          width: 40px;
          border-radius: 50%;
          background:$telenorLightBlue ;
          display: flex;
          justify-content: center;
          align-items: center;
          overflow: hidden;
        }
        /* Animation */
        svg {
          animation: arrow-bounce 1.5s cubic-bezier(0.770, 0.000, 0.175, 1.000) forwards infinite;
        }
    }
}

@keyframes slide-in-txt {
    from {
      transform: translateX(-10px);
      opacity: 0;
    }
    to {
      transform: translateX(0);
      opacity: 1;
    }
  }

@keyframes input-bounce {
    0% {}
   30% {
    transform: translate3d(0, 5px,0);
    }
   60% {
       transform: translate3d(0, 20px,0);
    }
   100% {
     transform: translate3d(0, 18px,0);
    }
}
