.imagelist-root {
    padding-top: 85px;

    .imagelist__slider {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 16px;
        padding-right: 16px;
        position: relative;

        @include breakpoint-min($bp-medium) {
            margin-bottom: 32px;
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .imagelist__main__viewport {
        width: 100%;

        @include breakpoint-max($bp-small) {
            overflow: hidden;
        }
    }

    .imagelist__items-container {
        display: flex;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
        margin-left: 0px;
    }

    .imagelist-heading {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        margin-bottom: 50px;
        text-align: center;
        color: $darkBlue;
    }

    .imagelist-item {
        display: flex;
        flex-direction: column;
        text-align: left;
        flex-shrink: 0;
        width: calc(100% / 1.1);
        cursor: pointer;

        &:not(:last-of-type) {
            margin-right: 10px;
        }

        @include breakpoint-min($bp-medium) {
            width: calc(100% / 3.1);

            &:not(:last-of-type) {
                margin-right: 26px;
            }
        }

        &:hover {
            .imagelist-loader__inner:not(.has-foregroundImage) {
                transform: scale(1.2);
            }

            .imagelist-loader__inner .imagelist-image {
                transform: scale(1.2);
            }

            .imagelist-item-content {
                background-color: #B4FFFF;
                color: #2028CD;

                svg path {
                    fill: #2028CD
                }
            }

            @media (hover: none) {
                .imagelist-image {
                    cursor: pointer;
                    transform: scale(1);
                }
                .imagelist-item-content {
                    background-color: #2028CD;
                    color: #B4FFFF;

                    svg path {
                        fill: #B4FFFF
                    }
                }
            }

            .chevron-arrow {
                transform: translateY(0);
                opacity: 1;
            }
        }

        .imagelist-loader__inner {
            position: relative;
            height: 200px;
            text-align: center;
            display: flex;
            justify-content: center;
            align-items: center;

            background-color: $grey;
            width: 100%;
            position: relative;
            background-size: cover;
            background-position: center center;
            transition: all 0.4s ease-out;

            &.has-foregroundImage {
                z-index: 3;
            }

            &:before {
                padding-top: calc((1 / (4/3)) * 100%);


                @supports (aspect-ratio: 1) {
                    aspect-ratio: 4/3;
                    padding-top: initial;
                }
            }
        }

        .imagelist-image {
            display: block;
            // min-height: 100%;
            object-fit: cover;
            transition: transform 0.3s cubic-bezier(0.1, 0.2, 0.3, 0.4),
        }
        .imagelist-item-content {
            min-height: 104px;
            padding: 16px;
            display: flex;
            background-color: #2028CD;
            color: #B4FFFF;
            transition: background-color 0.2s ease-in-out,
            color 0.2s linear;
            z-index: 2;

            @include breakpoint-min($bp-medium) {
                padding: 16px 22px;
            }


            svg {
                margin-right: 20px;
                path {
                    fill: #B4FFFF;
                }
            }
        }
        .imagelist-item-text {
            flex: 1;

            @include breakpoint-min($bp-medium) {
                margin-right: 20px;
            }
        }
        .chevron-arrow {
            align-self: center;
            opacity: 0;
            transform: translateY(100px);
            transition: all 0.4s ease-out;

            @include breakpoint-max($bp-small) {
                display: none;
                visibility: hidden;
            }
        }
    }
}
