.imagelist-root {
    padding-top: 85px;

    .imagelist__items-container {
        display: grid;
        grid-auto-flow: column;
        grid-auto-columns: 90%; /* Each slide covers 80% of the viewport */
        gap: 14px;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;

        @for $i from 1 through 4 {
            .imagelist-item.observed:nth-child(#{$i}n) {
                @include animation('fade-in-transition', $delay: #{$i * $list-coefficient}s);
            }
        }

        @include breakpoint-min($bp-large) {
            grid-auto-columns: 32.5%; /* Each slide covers 80% of the viewport */
        }

        @include breakpoint-max($bp-small) {
            width: 100%;
        }
    }

    .imagelist-heading {
        font-size: 24px;
        line-height: 32px;
        font-weight: 400;
        margin-bottom: 50px;
        text-align: center;
    }

    .imagelist-item {
        display: flex;
        flex-direction: column;
        text-align: left;
        overflow: hidden;

        opacity: 0;

         &:not(.observed) {
            opacity: 1;
         }

        &:hover {
            .imagelist-image {
                cursor: pointer;
                transform: translate(-50%, -50%) scale(1.2);
            }
            .imagelist-item-content {
                background-color: #B4FFFF;
                color: #2028CD;

                svg path {
                    fill: #2028CD
                }
            }
        }

        .imagelist-loader__inner {
            position: relative;
            overflow: hidden;
            height: 200px;
        }
        .imagelist-image {
            position: absolute;
            display: block;
            top: 50%;
            left: 50%;
            width: auto;
            min-height: 100%;
            min-width: 100%;
            max-width: none;
            transform: translate(-50%, -50%);
            transition: transform 0.3s cubic-bezier(0.1, 0.2, 0.3, 0.4),
        }
        .imagelist-item-content {
            min-height: 104px;
            padding: 16px;
            display: flex;
            align-items: center;
            background-color: #2028CD;
            color: #B4FFFF;
            transition: background-color 0.2s ease-in-out,
            color 0.2s linear;
            z-index: 2;

            @include breakpoint-min($bp-medium) {
                padding: 16px 22px;
            }


            svg {
                margin-right: 20px;
                path {
                    fill: #B4FFFF;
                }
            }
        }
        .imagelist-item-text {
            flex: 1;
            margin-right: 20px;
        }
        .chevron-icon {
            align-self: center;
        }
    }
}
