.imagelist-root {
  padding-top: 15px;
  padding-bottom: 15px;

  @include breakpoint-min($bp-large) {
    padding-top: 30px;
    padding-bottom: 30px;
  }

  @include breakpoint-max($bp-large) {
    overflow: hidden;
  }

  .imagelist__slider {
    width: 100%;
    margin-left: auto;
    margin-right: auto;
    padding-left: 16px;
    padding-right: 16px;
    position: relative;

    @include breakpoint-min($bp-medium) {
      margin-bottom: 32px;
      padding-left: 50px;
      padding-right: 50px;
    }
  }

  .imagelist__main__viewport {
    width: 100%;
  }

  .imagelist__items-container {
    display: flex;
    user-select: none;
    -webkit-touch-callout: none;
    -khtml-user-select: none;
    -webkit-tap-highlight-color: transparent;
    margin-left: 0px;

    @for $i from 1 through 4 {
      .imagelist-item.observed:nth-child(#{$i}n) {
        @include animation('fade-in-totop-transition', $duration: 1s, $delay: #{$i * 0.2}s);
      }
    }
  }

  .imagelist-heading {
    text-align: center;
    color: $darkBlue;

    padding: 48px 0;
    @include breakpoint-max($bp-medium) {
      padding: 40px 40px 48px;
    }
  }

  .imagelist-item {
    display: flex;
    flex-direction: column;
    text-align: left;
    flex-shrink: 0;
    width: calc(100% / 1.1);
    // padding-bottom: 30px;
    cursor: pointer;

    &:not(:last-of-type) {
      margin-right: 20px;
    }

    @include breakpoint-min($bp-medium) {
      width: calc(100% / 2.1);
      padding-bottom: 0;

      &:not(:last-of-type) {
        margin-right: 26px;
      }
    }

    @include breakpoint-min($bp-large) {
      width: calc(100% / 3.1);
      padding-bottom: 0;

      &:not(:last-of-type) {
        margin-right: 22px;
      }
    }

    &:hover {
      .imagelist-loader__inner:not(.has-foregroundImage) {
        transform: scale(1.2);
      }

      .imagelist-loader__inner .imagelist-image {
        transform: translateY(-15px) scale(1.3);
      }

      .imagelist-item-content {
        background-color: #b4ffff;
        color: #2028cd;

        svg path {
          fill: #2028cd;
        }
      }

      @media (hover: none) {
        .imagelist-image {
          cursor: pointer;
          transform: scale(1);
        }
        .imagelist-item-content {
          background-color: #2028cd;
          color: #b4ffff;

          svg path {
            fill: #b4ffff;
          }
        }
      }

      .chevron-arrow {
        transform: translateY(0);
        opacity: 1;
      }
    }

    .imagelist-loader__inner {
      position: relative;
      height: 200px;
      text-align: center;
      display: flex;
      justify-content: center;
      align-items: center;

      background-color: $grey;
      width: 100%;
      position: relative;
      background-size: cover;
      background-position: center center;
      transition: all 0.4s ease-out;

      &.has-foregroundImage img {
        z-index: 3;
        transform: translateY(-15px) scale(1.1);
      }

      &:before {
        padding-top: calc((1 / (4 / 3)) * 100%);

        @supports (aspect-ratio: 1) {
          aspect-ratio: 4/3;
          padding-top: initial;
        }
      }
    }

    .imagelist-image {
      display: block;
      // min-height: 100%;
      object-fit: cover;
      transition: transform 0.25s cubic-bezier(0.1, 0.2, 0.3, 0.4);
      transform-origin: center;
    }
    .imagelist-item-content {
      min-height: 104px;
      padding: 16px;
      display: flex;
      background-color: #2028cd;
      color: #b4ffff;
      transition: background-color 0.2s ease-in-out, color 0.2s linear;
      z-index: 2;
      overflow: hidden;

      @include breakpoint-min($bp-medium) {
        padding: 16px;
      }

      & > svg {
        @include breakpoint-min($bp-medium) {
          margin-right: 8px;
        }

        @include breakpoint-min($bp-xlarge) {
          margin-right: 16px;
        }

        path {
          fill: #b4ffff;
        }
      }
    }
    .imagelist-item-text {
      flex: 1;

      @include breakpoint-min($bp-medium) {
        margin-right: 14px;
      }

      @include breakpoint-min($bp-xlarge) {
        margin-right: 20px;
      }
    }
    .chevron-arrow {
      align-self: center;
      opacity: 0;
      transform: translateY(100px);
      transition: all 0.4s ease-out;

      @include breakpoint-max($bp-small) {
        display: none;
        visibility: hidden;
      }
    }
  }
}
