/* styling */
.leader {
  background: #f6f4ee;
  .grid-row--gutter-none.grid-row--between.desktop-padding-toleft--small.desktop-padding-toright--small {
    text-align: center;
    width: 100%;
    .col-auto {
      width: 100%;
      display: flex;
      justify-content: center;
    }
  }
  .slider .carousel__item {
    text-align: center;
    min-width: 320px;
    max-width: 320px;
    @media (min-width: 768px) {
      min-width: calc(100% / 3);
      max-width: calc(100% / 3);
    }
    .article__image-holder {
      background: blue;
      height: 200px;
      width: 100%;
    }
    img {
      display: none;
    }
  }
  .left-arrow,
  .right-arrow {
    z-index: 7;
    position: absolute;
    top: 100px;
    @media (min-width: $mobile-breakpoint) {
      top: 85px;
    }
  }
  .left-arrow {
    left: 0;
  }
  .right-arrow {
    @media (min-width: $mobile-breakpoint) {
      right: 0;
    }
    right: 20px;

    transform: rotate(-180deg);
  }

  .leader--slide-content {
    align-items: center;
  }
  .button {
    display: inline-flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    font-family: Telenor Evolution;
    background: #000F3C;
    border-radius: 48px;
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 24px;
    padding: 10px 20px 8px;
    color: #fff;
    margin-top: 16px;
    border-color: #000F3C;

    @media (min-width: 750px) {
      padding: 10px 42px 8px;
    }
  }

  .button__icon {
    padding-left: 5px;
    padding-top: 5px;
  }
}
// animations
$item-length: 100;

@media (min-width: $mobile-breakpoint) {
  .leader {
    .carousel__holder {
      transform: translateX(20vw);
    }
  }
  .leader.observed {
    .carousel__holder {
      animation-name: carousel-slide-in-desktop;
      animation-duration: 1.3s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }

  .leader .slider .carousel__holder {
    @for $i from 1 through 20 {
      .carousel__item:nth-child(#{$i}n) {
        transform: translateX(#{$i * $item-length}px);
      }
    }
  }
  .leader.observed .slider .carousel__holder {
    @for $i from 1 through 20 {
      .carousel__item:nth-child(#{$i}n) {
        transform: translateX(0);
        transition-property: transform;
        transition-duration: 0.2s;
        transition-delay: 0.3s;
      }
    }
  }
}
@keyframes carousel-slide-in-desktop {
  0% {
    transform: translateX(20vw);
  }
  100% {
    transform: translateX(0);
  }
}
@media (max-width: $mobile-breakpoint - 1px) {
  .leader {
    .carousel__holder {
      transform: translateX(50vw);
    }
  }
  .leader.observed {
    .carousel__holder {
      animation-name: carousel-slide-in-mobile;
      animation-duration: 0.9s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }

  @keyframes carousel-slide-in-mobile {
    0% {
      transform: translateX(50vw);
    }
    100% {
      transform: translateX(-280px);
    }
  }
  .leader {
    .col-auto.padding-leader--xxsmall.desktop-padding--small,
    .col-auto.padding-leader--xxxsmall.margin-trailer--auto,
    .col-auto.padding-leader--small {
      opacity: 0;
    }
  }
  .leader.observed {
    .col-auto.padding-leader--xxsmall.desktop-padding--small,
    .col-auto.padding-leader--xxxsmall.margin-trailer--auto,
    .col-auto.padding-leader--small {
      animation-name: fade-in;
      animation-delay: 1.3s;
      animation-duration: 0.2s;
      animation-fill-mode: forwards;
      animation-timing-function: ease-in-out;
    }
  }
}

/** Arrows animation**/
.leader {
  .left-arrow,
  .right-arrow {
    opacity: 0;
  }
}

.leader.observed {
  .left-arrow,
  .right-arrow {
    animation-name: fade-in;
    animation-delay: 1.3s;
    animation-duration: 0.6s;
    animation-fill-mode: forwards;
    animation-timing-function: ease-in-out;
  }
}

@keyframes fade-in {
  0% {
    opacity: 0;
  }
  100% {
    opacity: 1;
  }
}
