.live-chat__root {
    position: relative;
    // margin-bottom: 50px;

    @include breakpoint-min($bp-large) {
        padding: 48px 50px;
        // margin-bottom: 110px;

    }

    @include breakpoint-max($bp-small) {
        margin-bottom: 35px;
    }

    .live-chat__container {
        position: relative;


        @include breakpoint-min($bp-large) {
            display: grid;
            grid-auto-flow: row;
            grid-template-rows: minmax(80px, max-content) 1fr minmax(80px, max-content);
            grid-template-columns: 4.1% repeat(12, 1fr) 4.2%;
        }
    }

    .live-chat__content-main {
        align-self: center;
        > div {
            background: #EDF6F3;
        }

        @include breakpoint-down($bp-large) {
            margin-top: -80px;
            margin-right: 20px;
            margin-left: 20px;
        }

        @include breakpoint-min($bp-large) {
            grid-column: 9/-1;
            grid-row: 2 / 2;
        }

        @include breakpoint-min($bp-xlarge) {
            grid-column: 10/-1;
            grid-row: 2 / 2;
        }

    }

    .live-chat--content {
        padding: 18px;
        color: #000F3C;

        padding: 34px 24px;

        @include breakpoint-min($bp-medium) {
            padding: 80px 64px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }

        @include breakpoint-min($bp-large) {
            padding: 48px;
        }

        @include breakpoint-min($bp-xlarge) {
            padding: 80px 64px;
        }

        @include breakpoint-min($bp-xxlarge) {
            padding: 200px 64px
        }

        svg.help-icon {
            margin-right: 4px;
            fill: #000F3C;
            path {
                fill: #000F3C;
            }
        }

        .live-chat__header {
            display: flex;
            margin-bottom: 17px;

            @include breakpoint-min($bp-small) {
                justify-content: center;
            }
        }

        .live-chat__save-amount h4 {
            font-size: 20px;
            line-height: 28px;
        }
    }

    .live-chat__block {
        display: block;
        overflow: hidden;
        margin-left: 0;
        margin-right: 0;

        &.aspect--ratio {
            display: block;
            &:before {
                padding-bottom: calc(100% / (1.5));
            }
        }

        @include breakpoint-min($bp-large) {
            grid-column: 1/11;
            grid-row: 1 / 4;
        }

        @include breakpoint-min($bp-xlarge) {
            grid-column: 1/12;
            grid-row: 1 / 4;
        }

    }

    .live-chat__main {
        background: #EDF6F3;
        &.background-pink {
            background-color: #FFEFF4;
        }
    }

    .btn {
        border: none;
        border-radius: 48px;
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: $darkBlue;
        color: white;
        padding: 8px 24px;
        font-size: 14px;
        line-height: 24px;
        font-weight: 400;

        &.btn--blue {
            svg path {
              fill: $telenorBlue
            }
          }

        &.btn--light-blue {
            background: $telenorLightBlue;
            color: $midBlue;
            svg path {
              fill: $midBlue
            }
          }

          &.btn--default {
            background: transparent;
          }

          .btn__icon {
            display: flex;
            margin-left: 8px;
           }
        }
}
