.live-chat__root {
    position: relative;

    @include breakpoint-max($bp-small) {
        margin-bottom: 50px;
    }

    .live-chat__block {
        display: block;
        height: 100%;
        overflow: hidden;
        min-height: 335px;
        margin-left: 0;
        margin-right: 0;
        margin-bottom: -32px;
        width: 100vw;

        @include breakpoint-min($bp-medium) {
            width: 100vw;
        }

        @include breakpoint-min($bp-large) {
            width: 75vw;
        }

        @include breakpoint-min($bp-xlarge) {
            width: 66vw;
        }

    }


    img.live-chat__image {
        transition: transform 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
        width: 100%;
    }

    .heading {
        font-size: 32px;
        line-height: 40px;
        font-style: italic;
        text-align: left;
        margin-bottom: 8px;
        color: #000F3C;

        @include breakpoint-min($bp-small) {
          font-size: 32px;
          line-height: 40px;
        }
    }

    .live-chat--content {
        padding: 18px;
        color: #000F3C;

        padding: 34px 24px;

        @include breakpoint-min($bp-medium) {
            padding: 64px;
            display: flex;
            flex-direction: column;
            align-items: baseline;
        }

        @include breakpoint-min($bp-xxlarge) {
            padding: 200px 64px
        }

        svg.help-icon {
            margin-right: 4px;
            fill: #000F3C;
            path {
                fill: #000F3C;
            }
        }

        .live-chat__header {
            display: flex;
            margin-bottom: 17px;

            @include breakpoint-min($bp-small) {
                justify-content: center;
            }
        }
    }

    & > .container {
        width: 45vw;
        position: absolute;
        top: 18%;
        right: 10%;
        // display: block;
        height: 100%;
        // transform: translate(0%, 25%);

        @include breakpoint-max($bp-medium) {
            position: relative;
            width: 92vw;
            right: 0;
        }

        @include breakpoint-min($bp-medium) {
            top: 12%;
        }

        @include breakpoint-min($bp-large) {
            top: 15%;
            right: 5%;
            width: 50vw;
        }

        @include breakpoint-min($bp-xlarge) {
            width: 45vw;
            top: 20%;
        }
      }

    .live-chat__main {
        background: #EDF6F3;
        &.background-pink {
            background-color: #FFEFF4;
        }
    }
    & > .container > div {
        background: #EDF6F3;
    }
    & > .terminal-block {
        overflow: hidden;
        height: auto;
        min-height: 335px;

        @media (min-width: 750px) {
          display: block;
          height: 100%;
          width: 55vw;
        }
    }

    .button {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        font-family: Telenor Evolution;
        background: #000F3C;
        border-radius: 48px;
        font-style: normal;
        font-weight: normal;
        font-size: 14px;
        line-height: 24px;
        padding: 10px 20px 8px;
        color: #fff;
        border-color: #000F3C;


        @media (min-width: 750px) {
            padding: 8px 20px 8px 24px;
        }
    }

    .button__icon {
        padding-left: 5px;
        padding-top: 5px;
    }
}
