.product-category__root {
    padding-top: 48px;
    padding-bottom: 48px;

    @include breakpoint-min($bp-medium) {
        padding-top: 85px;
        padding-bottom: 85px;
    }

    .product-category__container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 80px;
        padding-right: 80px;

        @include breakpoint-max($bp-small) {
            padding-left: 16px;
            padding-right: 16px;
        }
    }

    .product-category__viewport {
        overflow: hidden;
        display: flex;
        justify-content: center;
        align-items: center;
        width: 100%;
    }

    .product-category__main  {
        display: flex;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
        margin-right: 34%;
        margin-left: auto;
        transform: translateX(20vw);

        @for $i from 1 through 4 {
            .product-category--item.observed:nth-child(#{$i}n) {
                @include animation('fade-in-transition', $duration: 2s, $delay: #{$i * $list-coefficient}s);
            }
        }

        @include breakpoint-min($bp-medium) {
             justify-content: center;
        }

    }

    .product-category--item {
        position: relative;
        text-align: center;
        flex-shrink: 0;
        padding-left: 1px;
        width: calc(100% / 3.5);
        opacity: 0;

         &:not(.observed) {
            opacity: 1;
         }

        @include breakpoint-max($bp-medium) {
            width: calc(100% / 2.5);
       }


        &:hover {
            cursor: pointer;
            .product-category--loader::before {
                transform: scale(0.7);
            }
            .product-category--image {
                transform: scale(1.4);
            }
        }

        .product-category--rounded {
            width: 100%;
        }

        .product-category--loader {
            width: 100%;
            height: 90px;
            position: relative;
            display: flex;
            align-items: center;
            justify-content: center;

            @include breakpoint-min($bp-medium) {
                height: 120px
           }

            &::before {
                content: '';
                position: absolute;
                width: 90px;
                height: 90px;
                background-color: #000F3C;
                border-radius: 100%;
                z-index: -1;
                transition: all .3s ease-in-out;

                @include breakpoint-min($bp-medium) {
                    width: 120px;
                    height: 120px;
               }
            }
        }
        .product-category--image {
            width: 50px;
            transition: all .3s ease-in-out;

            @include breakpoint-min($bp-medium) {
                width: 85px;
           }
        }
    }

    .product-category--heading {
        font-size: 24px;
        line-height: 32px;
        font-weight: 700;
        margin-bottom: 22px;
        text-align: center;
    }
}
