
.products-list__root {
    padding-top: 30px;
    padding-bottom: 30px;

    .produts-list__container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        padding-left: 50px;
        padding-right: 50px;

        @include breakpoint-max($bp-small) {
            padding-left: 16px;
            padding-right: 16px;
        }

        .heading {
            color: #000F3C;

            @include breakpoint-max($bp-medium) {
                font-size: 18px;
                line-height: 18px;
           }
        }

        .embla__button {
            outline: 0;
            cursor: pointer;
            background-color: transparent;
            touch-action: manipulation;
            position: absolute;
            z-index: 1;
            top: 25%;
            transform: translateY(-50%);
            border: 0;
            justify-content: center;
            align-items: center;
            fill: #1bcacd;
            padding: 0;

            @media (max-width: 750px) {
                display: none;
            }
        }

        .embla__button:disabled {
            cursor: default;
            opacity: 0.3;
        }

        .embla__button__svg {
            width: 100%;
            height: 100%;
          }

        .embla__button--prev {
            left: -10px;
        }

        .embla__button--next {
            // right: -20px;
            // transform: rotate(-180deg);
            right: 0;
            transform-origin: 70% 20%;
            transform: rotate(-180deg);
        }
    }

    .produts-list__viewport {
        overflow: hidden;
        width: 100%;
    }

    .products-list__main {
        display: flex;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
        margin-left: 0px;

        &.three-columns {
            height: 100%;
            max-height: 800px;
            transition: all 0.8s cubic-bezier(0.1, 0.2, 0.3, 0.4);

            &.showContent {
                max-height: 2000px;
            }
        }
        &.three-columns > .product-list__item {
            width: calc(100% / 1.8) !important;

            @include breakpoint-min($bp-medium) {
                width: calc(100% / 3) !important;
                margin: 10px;
            }
         }
    }

    .product-list__item {
        flex-shrink: 0;
        width: calc(100% / 2.8);
        margin-left: 10px;

        .img-background {
            display: flex;
            justify-content: center;
            align-items: center;
            overflow: hidden;
            height: 190px;
            background-color: #e6eef4;
            transition: background-color 0.4s ease-out;

            @include breakpoint-min($bp-medium) {
                height: 280px;
            }

            @include breakpoint-max($bp-small) {
                margin-bottom: 8px;
            }

            .product-holder {
                position: relative;
                transition: 0.4s ease-out;

                &.aspect-ratio {
                    padding-top: calc((1 / (4/4)) * 100%);

                    @supports (aspect-ratio: 1) {
                        aspect-ratio: 4/4;
                        padding-top: initial;
                    }
                }
            }

            .product-block__image {
                height: 100%;
                object-fit: cover;
            }

            .visual-block__image {
                transition: all 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
            }

            &:before,
            &:after {
              content: "";
              position: absolute;
              top: 0;
              left: 0;
              width: 100%;
              height: 100%;
              transition: all 0.2s ease-out;
            }
        }

        .product-list__item-image{
            display: inline-block;
            height: 132px;
            max-width: 100%;
            padding: 0;
            vertical-align: bottom;
        }

        .product-list__item-badge-holder {
            bottom: 8px;
            left: 0;
            position: absolute;
            right: 8px;
            z-index: 1;

            &.top-right {
                top:0;
                right: 0;
                text-align: right;
            }

            &.top-left {
                top:0;
                left: 0;
                text-align: left;
            }
        }

        .product-list__item-badge {
            color: #0c1026;
            background-color: $telenorBlue;
            display: inline-block;
            font-size: 14px;
            line-height: 32px;
            padding: 0 16px;
            white-space: nowrap;
        }

        .product-list__item-content, .product-list__item-content a {
            color: #000F3C;
        }

        .product-list__item-content {

            .product-list__colors-list {
                display: flex;
                align-items: center;

                li:not(:last-of-type) {
                    margin-right: 10px;
                }
            }
            .colors-list:checked ~ .colors-list__label, .colors-list:focus ~ .colors-list__label {
                // -webkit-box-shadow: 0 0 0 2px var(--tooltip-color);
                // box-shadow: 0 0 0 2px var(--tooltip-color);
                box-shadow: none;
            }
            .colors-list__label {
                position: relative;
                border-radius: 50%;
                cursor: pointer;
                display: block;
                height: 4px;
                width: 4px;
            }

            .button {
                display: inline-flex;
                background: #B4FFFF;
                border-radius: 48px;
                border: none;
                margin-top: 16px;
                min-width: 40px;
                height: 40px;
                padding: 8px 8px 8px 10px;
                opacity: 0;
                transition: all 0.3s ease-in;

                &.button--nohover {
                    display: flex;
                    justify-content: center;
                    align-items: center;
                    opacity: 1;
                    height: 100%;
                    padding: 14px 24px;
                    color: white;
                    visibility: visible;

                    @include breakpoint-max($bp-medium) {
                        padding:  14px 20px;
                    }

                    .button__label {
                        @include breakpoint-max($bp-medium) {
                            font-size: 14px;
                        }
                    }


                    .button__icon svg {
                        transform: translateX(0px);
                        opacity: 1;
                        width: 16px;
                        margin-left: 10px;

                        path {
                            fill: $telenorLightBlue;
                        }
                    }
                }

                &.button--primary {
                    background-color: $midBlue;
                }

                .button__icon svg {
                    transform: translateX(-100px);
                    opacity: 0;
                    transition: all 0.3s ease-out;

                    path {
                        fill: #2028CD;
                    }
                }

                @media (max-width: 750px) {
                    display: none;
                    visibility: hidden;
                }
            }

            @media (max-width: 750px) {
                .screen-change {
                    display: none
                }

                a > h3 {
                    font-size: 16px;
                    line-height: 24px;
                    margin-bottom: 18px;
                }
            }
        }

        .product-list__item-footer-info-list {

            margin-top: 48px;

            .product-list__item-footer-info {
                padding: 16px 0;

                &:not(:last-of-type) {
                    border-bottom: 1px solid #D6D6D6;
                }
                .product-list__item-footer-info-title {
                    font-size: 12px;
                    line-height: 20px;
                    font-weight: 700;
                    color: #767676;
                    margin-bottom: 4px;
                }
                .product-list__item-footer-info-text {
                    font-size: 16px;
                    line-height: 24px;
                    color: $darkBlue
                }
            }
        }

        &:hover {
            .img-background {
                background-color: white;

                &:before {
                    background-color: #000F3D;
                    height: 80%;
                    transition: all 250ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
                }

                .visual-block__image {
                    transform: scale(1.2);
                }

                @media (hover: none) {
                    &:before {
                        background-color: #e6eef4;
                    }
                    .visual-block__image {
                        transform: scale(1);
                    }
                }
            }
        }

        @include breakpoint-min($bp-medium) {
            width: calc(100% / 4);

            &:hover {
                .product-list__item-content .button:not(.button--nohover) {
                    opacity: 1;

                    .button__icon svg {
                        opacity: 1;
                        transform: translateX(0);
                    }
                }
            }
        }
    }

    .product-list__show-more-container {
        position: relative;
        text-align: center;
        max-height: 200px;

        .product-list__show-more {
            position: absolute;
            left: 0;
            background: linear-gradient(to bottom, rgba(196, 196, 196, 0) 0%, white 75%);
            height: 100%;
            width: 100%;
            z-index: 0;

            &.remove-fade {
                transition: all 850ms cubic-bezier(0.1, 0.2, 0.3, 0.4);
                background: transparent;
            }
        }

        .btn-container {
            display: flex;
            flex-direction: row-reverse;
            justify-content: center;
            align-items: center;
            z-index: 1;
            position: relative;

            .button__label {
                margin-left: 10px;
                color: $midBlue;

                &.show-more-label + .product-list__show-more-button .button__icon svg {
                    transform: rotate(90deg);
                }

                &.show-less-label + .product-list__show-more-button .button__icon svg {
                    transform: rotate(270deg);
                }
            }
        }

        .product-list__show-more-button {
            display: inline-flex;
            background: $midBlue;
            border-radius: 48px;
            border: none;
            padding: 15px 19px;
            transition: all 0.3s ease-in;

            .button__icon {
                position: relative;

                svg {
                    transition: all 0.4s cubic-bezier(0.1, 0.2, 0.3, 0.4);

                    path {
                        fill: white;
                    }
                }
            }
        }
    }
}
