.quote {
  margin: 120px 0;

  .quote-text {
    text-align: left;
    font-family: "Telenor Evolution";
    font-style: normal;
    font-weight: 600;
    margin: 32px 0 20px 32px;
    color: #2028cd;
  }
  .quote-name {
    font-family: "Telenor Evolution";
    font-style: normal;
    font-weight: normal;
    font-size: 14px;
    line-height: 22px;
    text-align: right;
  }

  .quote-image {
    position: absolute;
    z-index: -1;
    left:0;
    top: 0;

    img {
      width: 144px;
      height: 116px;
    }
  }
  .splitting {
    text-align: left;
    display: block;
    font-size:  32px;
    line-height: 40px;
  }

  .splitting {
    .word {
      opacity: 0;
      transform: translateX(150px);
    }
  }
  &.observed {
    .splitting {
      .word {
        display: inline-block;
        position: relative;
        opacity: 0;
        animation-duration: 0.5s;
        animation-delay: calc(.05s + (.1s * var(--line-index)));
        animation-fill-mode: forwards;
        animation-name: line-fade-in;
        animation-timing-function: linear;
      }
    }
  }
}

@keyframes line-fade-in {
  0% {
    opacity: 0;
    transform: translateX(70px);
    @media (min-width: $mobile-breakpoint) {
      transform: translateX(200px);
    }
  }
  100% {
    opacity: 1;
    transform: translateX(0);
  }
}
