.packages__root {
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    background-color: white;

    @include breakpoint-min($bp-medium) {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .packages__container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        // padding-left: 16px;
        // padding-right: 16px;
        position: relative;

        @include breakpoint-min($bp-medium) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .packages__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tab-content {
            flex-direction: column;
            align-items: center;
            display: none;

            &.show {
                display: flex;
            }

            .package__content-subtitle {}

            .package__features {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .package__feature {
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $darkBlue;
                    margin-bottom: 24px;
                }

                .package__feature-circle {
                    margin-bottom: 4px;

                    @for $i from 1 through 20 {
                        .circle-icon.observed:nth-child(#{$i}n) {
                            @include animation('circle-fill-transition', $duration: 1.5s, $delay: 0s);
                        }
                    }
                }
            }
        }
    }
}
