.packages__root {
    padding-top: 48px;
    padding-bottom: 48px;
    position: relative;
    background-color: white;

    @include breakpoint-min($bp-medium) {
        padding-top: 65px;
        padding-bottom: 65px;
    }

    .packages__container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        // padding-left: 16px;
        // padding-right: 16px;
        position: relative;

        @include breakpoint-min($bp-medium) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }

    .packages__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .packages__content--inner {
            display: flex;
            flex-direction: column;
            justify-content: center;
            align-items: center;
            color: $darkBlue;
        }

        .tab-content {
            flex-direction: column;
            align-items: center;
            display: none;

            &.show {
                display: flex;
            }

            .package__content-subtitle {}

            .package__features {
                display: flex;
                justify-content: space-evenly;
                flex-wrap: wrap;

                .package__feature {
                    width: 150px;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    color: $darkBlue;
                    margin-bottom: 24px;
                }

                .package__feature-circle {
                    margin-bottom: 4px;

                    svg {
                        width: 90px;
                        .circle {
                            stroke: #000F3C;
                            fill: none;
                            stroke-linecap: round;
                            stroke-width: 1
                        }
                        .circle-bg {
                            stroke: #D6D6D6;
                            fill: none;
                            stroke-linecap: round;
                            stroke-width: 0.2
                        }

                        &.observed {
                            @for $i from 1 through 20 {
                                .circle:nth-child(#{$i}n) {
                                    @include animation('circle-fill-transition', $duration: 1.5s, $delay: 0s);
                                }
                            }
                        }
                    }
                }
            }
        }
    }
}
