.discount-products__root {
    padding-top: 32px;
    padding-bottom: 32px;
    position: relative;
    background-color: #F6F4EE;
    overflow: hidden;

    .discount-products__container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
        // padding-left: 16px;
        // padding-right: 16px;
        position: relative;

        @include breakpoint-min($bp-medium) {
            // padding-left: 50px;
            // padding-right: 50px;
        }
    }

    .discount-products__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;

        .tab-item.active {
            background-color: #E8DED3;
        }
    }


    .discount-products__items {

        .embla__button {
            top: 25%;
        }

        @include breakpoint-max($bp-large) {
            position: unset;

            .embla__button {
                top: 42%;
            }
        }
    }

    .discount-products__items-viewport {
        @include breakpoint-min($bp-medium) {
            position: relative
        }
    }

    .discount-products__slider {
        @include breakpoint-min($bp-medium) {
            padding-left: 50px;
            padding-right: 50px;
        }
    }
    .discount-products__items-main {
        display: flex;
        user-select: none;
        -webkit-touch-callout: none;
        -khtml-user-select: none;
        -webkit-tap-highlight-color: transparent;
        // margin-left: -180px;
        will-change: transform;

        @include breakpoint-min($bp-large) {
            margin-left: -10px;
        }
    }

    .discount-product__item {
        color: $darkBlue;
        position: relative;
        cursor: pointer;

        @include breakpoint-min($bp-large) {
            flex-shrink: 0;
            width: calc(100% / 4);
        }

        @include breakpoint-min-max($bp-small, $bp-large) {
            flex-shrink: 0;
            width: calc(100% / 3);
        }

        @include breakpoint-min($bp-xlarge) {
            padding-left: 20px;
        }

        &:hover {
            @media (hover: hover) {
                .discount-block__image {
                    // transform: translate(-50%, -50%) scale(1.1);
                    transform: scale(1.15);
                }
            }
        }
    }
    .discount-product-media {
        position: relative;
        // height: 190px;
        display: flex;
        align-items: center;
        justify-content: center;
        // overflow: hidden;
        transform-origin: center;
        margin-bottom: 20px;

        @include breakpoint-max($bp-small) {
            width: 230px;
        }

        .discount-block__image {

            transition: transform .2s cubic-bezier(0, 0, 1, 1);

            @include breakpoint-max($bp-medium) {
                width: 100%;
            }
        }
    }

    .discount-product__item-content {

        button {
            padding: 12px 24px;
        }

        @include breakpoint-min($bp-medium) {
            padding: 0 24px;
        }

        @include breakpoint-min($bp-large) {
            padding: 0 18px;
        }

        @include breakpoint-min($bp-medium) {
            button {
                display: none;
                visibility: hidden;
            }
         }
    }

    .discount-product__item-rabbat {
        color: #FF4173
    }

    .btn {
        display: inline-flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        background: $telenorLightBlue;
        color: $midBlue;
        border: none;
        border-radius: 48px;
        padding: 12px 28px;
        font-size: 14px;
        line-height: 24px;
        cursor: pointer;


        &.btn--default {
            background-color: transparent;
            color: $darkBlue;

            .btn__icon path {
                fill: $telenorBlue;
            }
        }

        &.btn--blue {
            background: $midBlue;
            color: white;
            svg path {
              fill: $telenorLightBlue
            }
          }

          &.btn--light-blue {
            background: $telenorLightBlue;
            color: $midBlue;
            svg path {
              fill: $midBlue
            }
          }

        .btn__icon {
            padding-left: 5px;
            padding-top: 5px;

            path {
                fill: $midBlue;
            }
        }
    }
}
