.support__root {
    background-color: #2028CD;

    .support__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #B4FFFF;
        text-align: center;
        padding: 48px 24px;
        overflow: hidden;
        width: 100%;

        > * {
            opacity: 0;

            &:not(.observed) {
                opacity: 1;
            }
        }
        @for $i from 1 through 4 {
            > *.observed:nth-child(#{$i}n) {
              animation-delay: #{$i * $list-coefficient}s;
              animation-duration: 1s;
              animation-fill-mode: forwards;
              @include animation('fade-in-transition');
            }
        }

        @media (min-width: 750px) {
            p {
                max-width: 700px;
                padding: 0 30px;
            }
        }
    }

    .button {
        display: inline-flex;
        background: #B4FFFF;
        border-radius: 48px;
        border-color: #B4FFFF;
        min-width: 40px;
        height: 40px;
        padding: 8px 8px 8px 10px;

        svg path {
            fill: #2028CD;
          }
      }
}
