.support__root {
    background-color: #2028CD;

    .support__container {
        width: 100%;
        margin-left: auto;
        margin-right: auto;
    }

    .support__content {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        color: #B4FFFF;
        text-align: center;
        padding: 54px 24px;
        overflow: hidden;
        width: 100%;

        @include breakpoint-min($bp-large) {
            padding: 48px 24px 200px;
        }

        &:hover {
            @media (hover: hover) {
                .btn {
                    background: transparent;
                    svg.dark-arrow {
                        opacity: 0;
                        transform: translateX(100px);
                    }
                    svg.light-arrow {
                        opacity: 1;
                        transform: translateX(0px);
                    }
                }
            }
        }

        @media (min-width: 750px) {
            p {
                max-width: 700px;
                padding: 0 30px;
            }
        }
    }

    .btn {
        display: flex;
        justify-content: center;
        align-items: center;
        background: $telenorLightBlue;
        color: $midBlue;
        border-radius: 48px;
        margin-top: 16px;
        min-width: 40px;
        padding: 14px 5px;
        border: none;
        overflow: hidden;
        transition: background 0.3s ease-out;
        cursor: pointer;

        svg {
            transition: transform 0.3s ease-out;
        }
        svg.dark-arrow {
            opacity: 1;
            transform: translateX(8px);

            path {
                fill: $midBlue;
            }
        }

        svg.light-arrow {
            opacity: 0;
            transform: translateX(-50px);

            path {
                fill: $telenorLightBlue;
            }
        }
      }
}
