@font-face {
  font-family: "Telenor";
  src: url("./styles/fonts/SourceSansPro-SemiBold.woff") format("woff");
}

@font-face {
  font-family: "Telenor Evolution";
  src: url("./styles/fonts/TelenorEvolution-Bold.woff2") format("woff2");
  font-weight: 700;
  font-style: normal;
}
@font-face {
  font-family: "Telenor Evolution";
  src: url("./styles/fonts/TelenorEvolution-ExtraBoldSlanted.woff2")
    format("woff2");
  font-weight: 800;
  font-style: italic;
}
@font-face {
  font-family: "Telenor Evolution";
  src: url("./styles/fonts/TelenorEvolution-Light.woff2") format("woff2");
  font-weight: 300;
  font-style: normal;
}
@font-face {
  font-family: "Telenor Evolution";
  src: url("./styles/fonts/TelenorEvolution-Medium.woff2") format("woff2");
  font-weight: 500;
  font-style: normal;
}
@font-face {
  font-family: "Telenor Evolution";
  src: url("./styles/fonts/TelenorEvolution-Regular.woff2") format("woff2");
  font-weight: 400;
  font-style: normal;
}
//@import "./base-style.scss";
@import "./styles/_variables.scss";
@import "./styles/video.scss";
@import "./styles/side-by-side.scss";
@import "./styles/leader.scss";
@import "./styles/circle-spinner.scss";
@import "./styles/circle-spinner.scss";
@import "./styles/benefit-list.scss";
@import "./styles/product-list.scss";
@import "./styles/quote.scss";
@import "./styles/hero-a.scss";

